#cars-available {




//  ===========================================


    // height: 100vh;
    margin-top: 90px !important;
    .btn-filter {
        margin-left: 50px;
        display: flex;
        button {
            margin: 0 6px;
            @extend %btn-update;
            transition: all 1s ease-in-out ;
            &:hover {
                background: $gridenColor;
            }
        }
    }
    .search-car {
        width: 95%;
        margin: auto;
        .card {
            .card-body {
                h4 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                }
                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    .fa-star {
                        color: $secondary;
                    }
                    .fa-hand-holding-heart {
                        color: $textcolor;
                    }
                }
                span {
                    i {
                        color: $textcolor;
                    }
                }
            }

            .fav {
                cursor: pointer;
                position: absolute ;
                top: 15px;
                right: 15px;
                font-size: 20px;
            }
        }
    }

    @media (max-width :768px) {
        .btn-filter {
            flex-direction: column;
            margin-left: 10px;
            button {
                margin: 5px ;
            }
        }

        .card {
            .card-body {
                h4 {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                }
                p {
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 20px;
                    .fa-star {
                        color: $secondary;
                    }
                    .fa-hand-holding-heart {
                        color: $textcolor;
                    }
                }
                span {
                    i {
                        color: $textcolor;
                    }
                }
            }
        }
        iframe {
            height: auto;
            width: 100% !important;
        }
    }
  
}

.navbar {
    .item1 ,.item2 ,.item3{
        display: flex !important;
        align-items: center;
        margin: 0 15px;
    
        label , span{
            margin-right: 10px;
        }
        input {
            border: 0px;
        }
    }
}

