#carbon-Neutral{
    button{
        font-size: 28px;
        background-color: $secondary ;
        transition: all 1s;        
        &:hover{
            background-color: $info;
        }
    }
    .item1{
        margin-top: 55px;
        display: flex;
        align-items: center !important;
        justify-content: center;
        h3{
            font-size: 39px;
            color: $secondary;
            span{
                color: $white;
                background-color: $secondary;
                padding: 0 30px ;
                clip-path: polygon( 0% 0, 93% 0%, 100% 100%, 80% 1000%);
            }
        }
        button{
            background-color: $secondary !important;
            color: $section-bg !important;
            border: 0;
            font-size: 17px;
            font-weight: 700;
            line-height: 49px;
            padding: 0px 20px;
            transition: all 2s;
            &:hover{
                background-color: $info !important;
                color: $white !important;
            }
        }
    }

    .item2{
        background-image: url(../img/prefect-car.jpg);
        width: 100%;
        height: 50vh;
        background-size:cover ;
        background-position: center center;
        box-shadow: 0 5px 5px 5px rgba(13 , 110 , 253 , 0.1);
        margin: 20px;
        padding: 40px;
        animation: animate 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
    }
 
    @keyframes animate {
        0%, 100% {
            border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%  ;
        }
        33%{
            border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%  ;
        }
        66%{
            border-radius: 100% 56% 56% 100% / 100% 100% 56% 72%  ;
        }
        
    }

    @media (max-width:575.98px){
        
        .offset-1{
            margin-left: 0px;
        }

        button{
            font-size: 18px;
            padding-bottom: 5px;
        }

        .item1{
            text-align: center;
            padding-bottom: 15px ;
            h3{
               
                font-size: 29px;
            }
        }
        .item2{
            width: 90%;
        }
    }

    @media (max-width:768px) {
        .card-img-carbon {
           padding-left:20% ;
        }
    }
}
