#swiper-carousel {


    swiper-container {
        width: 100%;
        height: 100%;
      }
  
      swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }


    margin-top: 50px;
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

        // .swiper-button-next , .swiper-button-prev{
        //     border-radius: 50%;
        //     background-color: $black;
          
        // }
        .swiper-button-next svg, .swiper-button-prev svg {
            width: 50% !important;
            height: 60% !important;
            object-fit: contain;
            transform-origin: center;
        }
        // .swiper-button-next svg, .swiper-button-prev svg{            
        //     color: $white ;
        //     width: 30px !important;
        //     height: 30px !important;
        //     &::after {
        //         font-size:15px !important;
        //     }
            
        // }
        .swiper-pagination-fraction {
            color: $secondary;
        }
    }
}


#detail {
    margin: 20px auto;
    .contain-detail {
        width: 65%;
        margin: auto;
        .lt-detail {
            padding: 15px;
           .title {
                h4 {
                    font-size: 33px;
                    font-weight: 800;
                    line-height: 44px;
                } 
                span {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #898989;
                }
                p {
                   font-size: 21px;
                   font-weight: 900;
                   line-height: 28px;
                   i {
                        color: $secondary;
                   }
                   small {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                   }
                }

            }
            .hosted {
                h6 {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                    color: #121214;   
                }
                .star-host {
                    h4 {
                        font-size: 21px;
                        font-weight: 900;
                        line-height: 28px;
                    }
                    span {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 16px;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        small {
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 16px;
                            color: #898989;
                        }
                    }
                }
                .rated {
                    display: flex;
                    path  {
                        fill: $secondary !important;
                    }
                    div {
                        p {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            padding-left:20px ;
                        }
                        a {
                            text-decoration: none;
                            color: $secondary;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    
                }
            }

            .description {
                margin: 20px auto;
                h6 {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                }
                h5 ,p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

            .features {
                padding: 15px 0;
                button {
                    border: 0.5px solid #898989;
                    color: #898989;
                    background-color: transparent;
                    &:hover {
                        background-color: #f7f3f3;
                        color: $white;
                    }
                }
                h6 {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                    margin: 20px auto;
                }
            }

            .extras {
                padding: 15px 0;
                button {
                    border: 0.5px solid #898989;
                    color: #898989;
                    background-color: transparent;
                    &:hover {
                        background-color: #f7f3f3;
                        color: $white;
                    }
                }
                h6 {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                    margin: 20px auto;
                }
                p,h5 {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
            .parking-details {
                h6 {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                    margin: 20px auto;
                }
                p  {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
            .guidelines {
                h6 {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                    margin: 20px auto;
                }
                p  {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
                button {
                    border: 0.5px solid #898989;
                    color: #898989;
                    background-color: transparent;
                    &:hover {
                        background-color: #f7f3f3;
                        color: $white;
                    }
                }
            }
            .rating-reviews {
                margin-top: 25px;
                .hed {
                    h6 {
                        font-size: 12px;
                        font-weight: 900;
                        line-height: 16px;
                    }
                    h4 {
                        font-size: 38px;
                        font-weight: 900;
                        line-height: 44px;
                        i {
                            font-size: 25px;
                            color: $secondary;
                        }
                    }
                    span {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px
                    }
                }
                .row {
                    align-items: center;
                    h6 {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }

                p {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px; 
                    color: #767677;
                }
            }

            .reviews-user {
                margin: 25px auto;
                h6 {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                    color: #767677;   
                }
                .row {
                    .rati-star {
                        i {
                            color: $secondary;
                        }
                    }
                    span {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 16px;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                    .message {
                        padding: 15px;
                        border: 1px solid;
                        border-radius: 10px;
                        h5 {
                            font-size: 16px;
                            font-weight: 900;
                            line-height: 20px;
                        }
                        p {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                }
            }
            button {
                @extend %btn-update;
                color: $white;
                background-color: $secondary;
                &:hover {
                    background: $gridenColor;
                }
            }
        }

        .rt-details{ 
            .head {
                h6 {
                    font-size: 21px;
                    font-weight: 900;
                    line-height: 28px;
                    span {
                        font-size: 21px;
                        font-weight: 500;
                        line-height: 28px;
                        color: #767677;
                    }
                }
                a {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                    color: #767677;
                    &:hover {
                        color: #898989;
                    }
                }
            }

            .Trip-start ,.Trip-end {
                margin: 10px auto;
                h5 {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    color: $secondary ;
                }

                input {
                    border:1px solid gray !important;
                    &:focus {
                        border-color: $secondary !important;
                    }
                }
            }

            .Pickup {
                margin: 15px auto;
                h6 {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                }
              
                .accordion-item {
                    .accordion-body {
                        span {
                            font-size: 12px;
                            font-weight: 900;
                            line-height: 16px;
                            color: #898989;
                            display: block;
                        }

                        .btn-san {
                            display: flex;
                            justify-content: start;
                            background-color: #f4f4f4;
                            padding: 10px 20px;
                            margin: 10px auto;
                            border: 1px solid #808080 ;
                            cursor: pointer;
                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                color: #121214;
                            }
                            span {
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 16px;
                            }
                        }

                        p {
                            font-size: 12px;
                            font-weight: 500;
                            line-height:16px;
                            color: #898989; 
                        }
                    }
                }
            }
            .discount {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 10px;
                margin: 10px auto;
                // background-color: #f4f4f4;
                border: 1px solid #808080;
                border-radius: 8px;
                h6{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;

                }
                span {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #0e865c;
                }
            }
            .btn-contin {
                width: 100%;
                padding: 10px;
                border-radius:8px ;
                background-color: $secondary;
                color: $white;
                border-color: #c2c2c2;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                transition: all 1s !important;
                &:hover {
                    color: $white;
                    background: $gridenColor;
                }
            }

            .Free-cancellation {
                display: flex;
                align-content: center;
                i{
                    font-size: 30px;
                    color: $secondary;
                    margin-right: 15px;
                }
                h6 {
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 20px;
                }
                p {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                    color: #898989;
                }
            }
            .INSURANCE{
                p {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                    color: #767677;
                }
                h6 {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
            
            .favorit {
                width: 100%;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                padding: 8px;
                border: 1px solid #808080;
                border-radius: 8px;
                transition: all 1s ease-in-out;
                i {
                    font-size: 18px;
                    margin: 5px;
                }
                &:hover {
                    background: $gridenColor;
                    color: $white;
                }
            }

            .soichl {
                width: 40px;
                height: 40px;
                border: 1px solid;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                cursor: pointer;
                transition: all 1s ease-in-out;
                &:hover {
                    background: $gridenColor;
                    color: $white;
                }
            }

            .foot-link {
                a{
                    text-decoration: none;
                    color: $secondary;
                    display: block;
                    text-align: center;
                    padding: 8px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }


        }

// =============================

        @media (max-width :768px) {
            width: 100% !important;

            .rt-details{ 
                .Trip-start ,.Trip-end {
                    .date1 ,.date2{
                        display: initial !important ;
                        label{
                            margin: 5px;
                        }
                    }
                }
            }
        }

    }
}










