#profile {
    // padding: 40px 0 0;
    // height: 100%;
    .bg-banner {
        background-repeat: no-repeat;
        min-height: 90vh;
        padding: 40px 0 0;

        .container {
            width: 65%;
            margin:100px auto;
            .title-img {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                button {
                border: 0.5px solid;
                    border-radius: 7px;
                    padding: 5px 10px;
                    color:$white ;
                    font-size: 12px ;
                    font-weight: 700;
                    line-height: 16px;
                    background-color: $secondary;
                    transition: all 1s ;
                    &:hover {
                        background: $gridenColor;
                    }
                }
            }

            .lt-profile {
                .item-info {
                    display: flex;
                    justify-content: space-between;
                }
                h5 {
                    font-size: 38px;
                    font-weight: 900;
                    line-height: 44px;
                }
                .joind {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
                span {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                    color: #898989;
                }
                h6 {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
                a {
                    text-decoration: none;
                    color: $secondary;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                i {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: $secondary;
                }
                p {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                    color: #898989;
                }
            }
            .rt-reviews {
                h4 {
                    font-size: 12px;
                    font-weight: 900;
                    line-height: 16px;
                    color: #898989;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
                .reviews-hosts {
                    small {
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 24px;
                        color: #898989 !important;
                    }
                    .reviews {
                        display: flex;
                        align-items: center;
                        margin-top: 20px;
                        .rait {
                            i {
                                color: #898989;
                            }
                        }
                        h6 ,p{
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            color: #898989;
                        }
                    }
                }

                .favorites-card {
                    margin-top: 30px;
                    .card {
                        h6 {
                            font-size: 17px;
                            font-weight: 900;
                            line-height: 24px;
                        }
                        p {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            color: #898989;
                            i {
                                color: $secondary;
                            }
                        }
                    }
                    .favorites-buttons {
                        margin: 20px auto;
                        display: flex;
                        justify-content: center;
                        button{
                            border: 0.5px solid;
                            border-radius: 7px;
                            padding: 9px 10px;
                            margin: 10px auto;
                            color:$white ;
                            font-size: 16px ;
                            font-weight: 700;
                            line-height: 16px;
                            background-color: $secondary;
                            transition: all 1s ;
                            &:hover {
                                background: $gridenColor;
                            }
                        }
                    }
                }
                
            }
        }
    }

    

    @media (max-width :768px) {
        width: 100%;
        .bg-banner {
            padding: 10px 0;
        }
        .title-img {
            
            display: block !important;
           svg {
            width: 50% !important;
            height: 50% !important;
           }
        }
        .lt-profile {
            h5 {
                font-size: 28px !important;
                font-weight: 500;
                line-height: 23px;
            }
            .item-info {
                display: initial !important;
            }
        }
        .rt-reviews{
            .reviews{
                display: initial !important;
            }
        }

    }
}