
#register{  
    body {
        overflow: hidden ;
    }
    display: none; 
    padding: 70px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.144);
    z-index: 9999999991;
    overflow-y: scroll;
    transition: all 2s ease-in-out !important;
    .close {
        position: absolute;
        top: 25px;
        right: 30px;
        cursor:pointer;
        i {
            font-size: 30px;
            transition: all 1s ease-in-out;
            &:hover {
                color: $secondary;
            }
        }
    }
    .login {

        background-color: $white;
        padding: 45px;
        border: 2px solid $black;
        border-radius: 7px;
        form {
            .countryCode {
                margin: 20px auto; 
                label {
                    padding: 10px 0;
                }
                input {
                    width: 100%;
                    border: 2px solid $black;
                    border-radius: 5px;
                    padding: 7px;
                }
            }
    
            .phoneNumber {
                margin: 20px auto; 
                label {
                    padding: 10px 0;
                }
                input {
                    width: 100%;
                    border: 2px solid $black;
                    border-radius: 5px;
                    padding: 7px;
                }
            }
    
            .btn-confirm {
                @extend %btn;
                font-size: 25px;
                font-weight: 600;
                background-color: $secondary;
                color: $white;
                &:hover {
                    background-color: $info;
                }
            }

            p {
                font-weight: 600;
                color: $textcolor;
                small {
                    margin: 0 10px;
                }
            }
        }
        
        .email, .apple, .google, .facebook {

            @extend %btn;
            font-size: 22px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            i , svg {
                font-size: 35px;
                margin-right: 20px ;
            }
            &:hover {
                background-color: $secondary;
                color:$white;
            }
        }
        .facebook {
            i{
                color: #0866ff;

            }
        }

        .go-signUp {
            display: flex;
            margin: 30px auto;
            h5 {
                color: $secondary !important;
            }
            a {
                color: $secondary !important;
                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
        .privacy-policy {
            font-size: 16px;
            font-weight: 500;
            small {
                color: $secondary;
            }
        }
    }
}
